{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "describe": true,
    "expect": true,
    "sinon": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "func-names": 0,
    "prefer-arrow-callback": 0
  }
}
